{# app/Resources/views/Security/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | TICKET{% endblock %}
{% block userName %} {{ app.user.firstName ~ " " ~ app.user.lastName }} {% endblock %}
{% block body %}
    {% include('@App/Modal/form-note-modal.html.twig') %}
    <div class="card mt-2">
        <div class="card-header pb-0 pt-2 text-primary">
            <div class="card-title"><div class="fas fa-list fa-lg"></div> List of Ticket</div>
        </div>
        <div class="card-body pt-2">
            {% include('@App/Message/response.html.twig') %}
            <div class="row py-0">
                <div class="col-md-12 py-0">
                    <a href="{{ path('createticketpage') }}" class="btn btn-primary float-right btn-sm mb-2"><i class="fas fa-plus fa-lg"></i> Create Ticket</a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-sm table-striped">
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(tickets, '#', 't.id') }}</th>
                            <th class="text-primary"><i class="fas fa-edit"></i> Description</th>
                            <th class="text-primary"><i class="fas fa-user"></i> Employee(s)</th>
                            <th><i class="fas fa-calendar-alt text-primary"></i> {{ knp_pagination_sortable(tickets, 'Date', 't.createdAt') }}</th>
                            <th><i class="fas fa-check-square text-primary"></i> {{ knp_pagination_sortable(tickets, 'Status', 't.status') }}</th>
                            <th class="text-primary"><i class="fas fa-hand-point-up"></i> Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if tickets | length > 0 %}
                        {% for ticket in tickets %}
                            <tr>
                                <td>{{ ticket.id }}</td>
                                <td>{{ ticket.subject }}</td>
                                <td>{{ ticket.userId }}</td>
                                <td>{{ ticket.createdAt | date('d/m/Y') }}</td>
                                <td>{{ ticket.status }}</td>
                                <td width="28%">
                                    <a href="#" class="badge badge-secondary addNote py-1" data-employeeid="{{ ticket.userId }}" data-employeefullname="{{ ticket.userId }}" data-ticketid="{{ ticket.id }}" data-ticketdate="{{ ticket.createdAt | date('d/m/Y h:s a') }}" data-ticketsubject="{{ ticket.subject }}" data-ticketstatus="{{ ticket.status }}"><span class="badge badge-dark"><i class="fas fa-plus fa-lg"></i></span> Notes</a>
                                    <a href="{{ path('viewticketpage',{id:ticket.id}) }}" class="badge badge-success py-1"><span class="badge badge-success"><i class="fas fa-eye fa-lg"></i></span> View</a>
                                    {% if app.user.id == ticket.userId.id %}
                                        <a href="{{ path('editticketpage',{id:ticket.id}) }}" class="badge badge-primary py-1"><span class="badge badge-info"><i class="fas fa-edit fa-lg"></i></span> Edit</a>
                                        <a href="{{ path('deleteticketpage',{id:ticket.id}) }}" onclick="if(!confirm('¿Surely you want to delete the ticket?'))return false;" class="badge badge-danger py-1"><span class="badge badge-danger"><i class="fas fa-plus fa-lg"></i></span> Delete</a>
                                    {% endif %}
                                    {% if ticket.status == 'Open' and app.user.id == ticket.userId.id %}
                                        <a href="{{ path('closeticket',{id:ticket.id}) }}" onclick="if(!confirm('¿Surely you want to close the ticket?'))return false;" class="badge badge-warning py-1"><span class="badge badge-warning"><i class="fas fa-clock fa-lg"></i></span> Close</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="6" class="text-center h5">0 Result</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(tickets) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .card{
            min-height: 75vh;
        }
    </style>
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/app/ticket.js') }}"></script>
{% endblock %}